<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Show Dojo</title>
</head>
<body>
    <div class="container-fluid d-flex flex-row align-items-start justify-content-center">
        <div class="flex-grow-1">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <a href="/" class="btn btn-primary btn-outline-light">Return Home</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mx-auto text-center">
                    <h2 class="display-4">{{dojo.name}} Ninjas:</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <table class="table table-dark table-fixed">
                        <thead class="text-warning">
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ninja in ninjas %}
                                <tr>
                                    <td>{{ninja.first_name}}</td>
                                    <td>{{ninja.last_name}}</td>
                                    <td>{{ninja.age}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
